<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <!-- <link href="./src/css/main.css" rel="stylesheet" /> -->
  </head>
  <body>
    <h1>Test</h1>
    {{> widgets/test}}

	<script src="./bundle.js"></script>
  </body>
</html>
